@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
@-webkit-keyframes spin {0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }}
@keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(360deg); }}
@keyframes oneanim {0% {opacity: 0;}3% {opacity: 1;}30% {opacity: 1;}33% {opacity: 0;}97% {opacity: 0}}
@keyframes twoanim {0% {opacity: 0;}34% {opacity: 0;}37% {opacity: 1;}65% {opacity: 1;}68% {opacity: 0}}
@keyframes threeanim {0% {opacity: 0;}69% {opacity: 0;}72% {opacity: 1;}97% {opacity: 1;}100% {opacity: 0}}

.loader-bg {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
  height: 100vh;
  overflow: hidden;
	z-index: 9998;
	background:#151515;
}
.loader {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader img {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  background: #151515;
  font-family: "Montserrat", sans-serif;
}
body.overflow {
  overflow: hidden;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h1, h2 {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
h3 {
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: capitalize;
}
h4 {
  color: white;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
}
h5 {
  color: #f28500;
  text-transform: capitalize;
}
h6 {
  color: #aaaaaa;
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a, a:hover {
  text-decoration: none;
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6,
  span,
  p,
  li,
  a {
    font-size: 14px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6,
  span,
  p,
  li,
  a {
    font-size: 14px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
  background-color: #CCCCCC;
  transition: 1s;
}

body::-webkit-scrollbar
{
	width: 7px;
  background-color: #F5F5F5;
  transition: 1s;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  background-color: #f28500;
  transition: 1s;
}

.template-btn {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 20px;
  display: inline-block;
  background: transparent;
  border: 1px solid #333333;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.template-btn:hover {
  color: white;
  background: #f28500;
  border: 1px solid transparent;
}

header {
  background: #151515;
  position: fixed;
  z-index: 4999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: 1.3s;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.logo {
  position: absolute;
  left: 0;
  transition: 0.8s;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  margin: 21px 0;
}
.logo img {
  width: 35px;
  height: 35px;
}
.logo:active {
  -webkit-tap-highlight-color: transparent;
}
header.scrolled .logo {
  opacity: 1;
  visibility: visible;
  left: 5%;
}
.nav-trigger {
  padding: 0;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  right: 0;
  top: 20px;
  width: 25px;
  border-radius: 50%;
  transition: 0.8s;
  margin: 8px 0;
  opacity: 0;
  visibility: hidden;
}
.nav-trigger:active {
  -webkit-tap-highlight-color: transparent;
}
header.scrolled .nav-trigger {
  opacity: 1;
  visibility: visible;
  right: 5%;
}
@media (max-width: 768px) {
  header.scrolled .nav-trigger {
    top: 25px;
  }
}
.nav-trigger span {
  background-color: #fff;
  height: 2px;
  width: 25px;
  display: block;
  transition: 0.5s;
}
.nav-trigger span:not(:first-child) {
  margin-top: 4px;
}
@media (min-width: 769px) {
  .logo {
    transition: 1.3s;
  }
  .nav-trigger {
    display: none;
  }
}
.header-title {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  width: 90%;
}
@media (max-width: 425px) {
  .header-title {
    top: 30%;
  }
}
.header-title h1 {
  margin-bottom: 0;
}
header.scrolled {
  height: 80px;
}
header.scrolled .header-title {
  opacity: 0;
  visibility: hidden;
}
.title-animation {
  /* position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100px;
  margin-bottom: 20px; */
  transition: 0.5s;
}
header.scrolled .title-animation {
  opacity: 0;
  visibility: hidden;
}
.title-animation h3 {
  color: #f28500;
}
.text-one, .text-two, .text-three {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  text-align: center;
  height: auto;
  width: 100%;
  z-index: -1;
}
.text-one {
  animation: oneanim 12.0s infinite;
  opacity: 0;
}
.text-two {
  animation: twoanim 12.0s infinite;
  opacity: 0;
}
.text-three {
  animation: threeanim 12.0s infinite;
  opacity: 0;
}
header .topnav {
  position: absolute;
  top: 59%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: 1.3s;
}
header .topnav ul {
  margin: 28px 0;
  display: flex;
  cursor: pointer
}
@media (min-width: 768.1px) {
  header.scrolled .topnav {
    top: 5%;
    right: 5%;
    transform: unset;
  }
}
@media (max-width: 768px) {
  header .topnav {
    transition: 0.5s;
    top: 62%;
  }
  header.scrolled {
    background: #232323;
  }
  header.scrolled .topnav {
    opacity: 0;
    visibility: hidden;
  }
  header .topnav ul {
    display: block;
    text-align: center; 
  }
  header .topnav ul li:not(:first-child) {
    margin-top: 20px;
  }
}
.topnav ul li, .sidenav ul li {
  list-style: none;
}
.topnav ul li a, .sidenav ul li a {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 500;
  outline: none;
}
.topnav ul:active, .sidenav ul:active {
  -webkit-tap-highlight-color: transparent;
}
.topnav ul li a:hover {
  color: #f28500;
}
.hidden {
  display: none
}
header.scrolled .hidden {
  display: unset;
}
@media (max-width: 768px) {
  header.scrolled .hidden {
    display: none;
  }
}
.sidenav {
  background-color: #151515;
  display: block;
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 225px;
  right: -225px;
  color: #fff;
  transition: transform .7s;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
header .sidenav ul {
  display: block;
  margin-top: 110px;
  cursor: pointer
}
header .sidenav ul li {
  margin-top: 25px;
}
header .sidenav ul li a {
  font-size: 18px;
}
.cover {
  transition: transform 0.7s;
}
.sidenav-active .cover {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 5000;
  transition: background-color .7s, transform 0.7s;
}
.sidenav-active .sidenav, .sidenav-active .cover {
  transform: translateX(-225px);
}
.noscroll {
  position: relative;
  overflow: hidden;
}
.header-space {
  margin: 1px;
}
section {
  padding-left: 15px;
  padding-right: 15px;
}
.about-section {
  padding-top: 110px;
  transition: 1.3s;
  box-sizing: border-box;
}
.about-me {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto;
  grid-gap: 30px;
}
@media (max-width: 991px) {
  .about-me {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .about-me {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }
  .about-me .about-wrap .about-image {
    height: 350px;
    margin: auto;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .about-me .about-wrap .about-image {
    max-width: 325px;
  }
}
@media (max-width: 576px) {
  .title {
    text-align: center;
  }
}
.title {
  margin-top: 0;
}
.about-me .about-wrap {
  position: relative;
  z-index: 1;
}
.about-me .about-wrap .about-image {
  width: 100%;
  height: 400px;
  background: #dddddd;
}
.about-me .about-wrap .about-bg {
  /* background-image: url("smol.jpg"); */
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.about-me .about-wrap .about-icons {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 10px;
  /* background: #151515; */
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  /* border: 1px solid #333333;
  border-right: none; */
  z-index: 2;
}
@media (max-width: 575.98px) {
  .about-me .about-wrap .about-icons {
    padding: 5px;
  }
}
.about-me .about-wrap .about-icons li {
  margin: 10px 0;
}
@media (max-width: 575.98px) {
  .about-me .about-wrap .about-icons li {
    margin: 10px 0;
  }
}
.about-me .about-wrap .about-icons li a {
  color: white;
  background: #151515;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #333333;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.about-me .about-wrap .about-icons li a .fa {
  margin: 12px;
}
.about-me .about-wrap .about-icons li a:hover {
  background: #f28500;
  border: 1px solid transparent;
}
/* @media (max-width: 768px) {
  .about-me .about-wrap .about-icons li a {
    background: #f28500;
  }
} */
.about-text h3 {
  margin-top: 0;
}
.hr-role {
  width: 50px;
  height: 5px;
  background: #f28500;
  display: block;
  margin: 20px 0;
}
@media (max-width: 576px) {
  .about-text h3 {
    text-align: center;
  }
  .hr-role {
    margin: 30px auto;
  }
}
.about-buttons {
  margin-top: 25px;
}
.about-buttons a:first-child {
  background: #f28500;
  border: 1px solid transparent;
  margin-right: 15px;
}
@media (max-width: 426px) {
  .about-buttons {
    text-align: center;
  }
}
.experience-section, .education-section, .skills-section {
  padding-top: 30px;
  transition: 1.3s;
  box-sizing: border-box;
}
.experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 30px;
}
/* .single-experience {
  display: flex;
} */
.order-2 {
  order: 2;
}
.single-experience .experience-text, .single-education .education-text {
  background: #222222;
  border: 1px solid #333333;
}
.single-experience h3, .single-education h3 {
  color: #aaaaaa;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-top: 0;
}
.single-experience:hover h3, .single-education:hover h3 {
  color: #f28500;
}
.experience-left {
  text-align: right;
}
.experience-text, .education-text {
  padding: 15px;
}
@media (max-width: 991px) {
  .single-experience {
    display: block;
  }
  .experience-year {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .experience {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 575.98px) {
  .experience-left {
    text-align: left;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .experience-left {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .experience-left {
    text-align: left;
  }
}
.education {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  .education {
    grid-template-columns: repeat(1, 1fr);
  }
}
.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 30px;
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .skills {
    grid-template-columns: repeat(1, 1fr);
  }
}
.skills .single-skill {
  position: relative;
  border: 1px solid #333333;
  padding: 20px;
}
.skills .single-skill:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-top: 5px solid #333333;
  border-left: 5px solid #333333;
}
.skills .single-skill:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-right: 5px solid #333333;
  border-bottom: 5px solid #333333;
}
/* .skills .single-skill .skill-icon {
  font-size: 2rem;
  background: #222222;
  border: 1px solid #333333;
  padding: 10px;
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 1.5rem;
} */
.html-css {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-icon img {
  width: 80px;
  height: 80px;
}
.skill-icon .fa {
  font-size: 57px;
  margin: 13.5px;
}
.single-skill ul li {
  margin-bottom: 10px;
}

.portfolio-section {
  padding-top: 30px;
  transition: 1.3s;
  box-sizing: border-box;
  height: auto;
}

.portfolio-tab ul {
  text-align: center;
  margin-top: 50px;
}
.portfolio-tab ul li {
  background: #222222;
  display: inline;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 16px;
  border: 1px solid #333333;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 575.98px) {
  .portfolio-tab ul li {
    display: block;
    margin: 10px auto;
    max-width: 200px;
  }
}
.portfolio-tab ul li:hover {
  background: #f28500;
}
.portfolio-tab ul .active {
  background: #f28500;
}
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}
.portfolio {
  -webkit-tap-highlight-color: transparent;
}
.portfolio-grid {
  margin-top: 50px;
  /* width: 100%;
  position: relative;
  min-height: 1px;
  float: left; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 15px;
}
@media (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768.1px) and (max-width: 991px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }		
  }
.portfolio-grid .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
  /* width:33.33%;
  float:left; */
	display:none;
	overflow:hidden;
}
.portfolio-wrapper {
  overflow:hidden;
  position: relative !important;
  cursor:pointer;
}
.portfolio-bg {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s;
  transform: scale(1)
}
.portfolio:hover .portfolio-bg{
  transform: scale(1.2)
}
.first .portfolio-bg{
  background-image: url('gallery.JPG');
}
.second .portfolio-bg{
  background-image: url('materialize-dashboard.JPG');
}
.third .portfolio-bg{
  background-image: url('ticket-tracker.JPG');
}
.fourth .portfolio-bg{
  background-image: url('slider.JPG');
}
.fifth .portfolio-bg{
  background-image: url('Recipe.JPG');
}
.sixth .portfolio-bg{
  background-image: url('hover-effects.JPG');
}
.seventh .portfolio-bg{
  background-image: url('nav.JPG');
}
/* .portfolio img {
  max-width:100%;
  position: relative;
  top:0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
} */
.portfolio .label {
  position: absolute;
  width: 100%;
  height:100%;
  bottom: 0;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden
}

.portfolio .label-bg {
  background: #232323;
  opacity: 0.7;
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  transition: 1px;
}
.portfolio .label-text {
  color:#fff;
  position: relative;
  z-index:500;
  padding:50px 20px;
}
.portfolio:hover .label {
  opacity: 1;
  visibility: visible;
}
.portfolio .text-category {
  display:block;
  /* font-size:9px; */
}
.portfolio .template-btn {
  background: #f28500;
  border: 1px solid #f28500;
  text-decoration: none;
  margin-top: 20px;
  font-weight: 500
}
/* @media only screen and (max-width: 768px) {
.portfolio-grid .portfolio {
  width:100%;
}		
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .portfolio-grid .portfolio {
    width:50%;
  }		
  } */
  
.contact-section {
  /* width: 100%;
  position: relative;
  min-height: 1px;
  float: left; */
  padding-top: 30px;
  transition: 1.3s;
  box-sizing: border-box;
}
.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 30px;
  margin: 30px 0;
}
@media (max-width: 768px) {
  .contact {
    grid-template-columns: repeat(1, 1fr);
  }
}
.single-contact {
  border: 1px solid #333333;
  display: flex;
  padding: 15px;
  align-items: center;
}
.icon-area, .contact-text {
  display: flex;
  flex-grow: 1;
}
.icon-area {
  margin-right: 15px;
  max-width: 100px;
  justify-content: center
}
.icon-area .icon {
  font-size: 24px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  /* background: #222222;
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 10px;
  border: 1px solid #333333;
  text-align: center;
  line-height: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; */
}
.single-contact:hover .icon {
  color: #f28500;
}
.contact-text span a {
  color: #fff;
}
.footer-area {
  /* width: 100%;
  position: relative;
  min-height: 1px;
  float: left; */
  border-top: 1px solid #333333;
  text-transform: capitalize;
  text-align: center;
  padding: 1.5rem 0;
}
.footer-area a {
  color: #f28500;
}
.footer-area a:hover {
  color: #f28500;
}